*{
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Poppins', sans-serif;;
}
html{
    scroll-behavior: smooth;
}

/* header section start */

.img-fluid{
    max-width: 100%;

}

.header{
    width: 100%;
    padding: 24px 0px;

}

.container{
    width: 1140px;
    margin: auto;
}

.nav-lt li a{
    text-decoration: none;
}

.nav-lt ul{
    display: inline-block;
    margin-left: 32px;
}

.nav-lt ul li{
    list-style: none;
    display: inline-block;
    margin:0px 16px 0px 0px ;
}

.navbar{
    display: flex;
    justify-content: space-between;
}

.logo{
    display: inline-block;
    vertical-align: middle;
}

.nav-lt ul li a{ 
    color: #292640;
    font-size: 16px;
    font-weight: 500;
    transition: 0.4s;
}

.nav-lt ul li a:hover{
    color: #ff6162;
    transition: 0.4s;

}
.nav-rt a{
    text-decoration: none;
    color: white;
    font-weight: 700;

}

.nav-rt button {
    background-color: #ff6162;
    color: white;
    padding: 16px 28px;
    border: none;
    border-radius: 4px;
    transition: 0.4s;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;

}

.nav-rt button:hover{
    background-color: #ff2323;
    cursor: pointer;
    transition: 0.5s;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}


/* header section end */

/* hero section start */
.hero-section{
    width: 100%;
    padding:140px 0px ;
}

.hero-row{
    display: flex;
}

.hero-lt, .lt-rt{
    flex-basis: 50%;
}

.hero-lt h2{
    font-size: 50px;
    line-height: 1.3;
    color: 292640;
    margin: 0px 0px 24px;
  }

.hero-lt p{
    font-size: 16px;
    color: #A2A4A5;
    margin: 0px 70px 32px 0px;
    
}

.hero-lt a i{
    height: 30px;
    width: 30px;
    color: #A2A4A5;
    border-radius: 100%;
    border: 2px solid #a2a4a5;
    line-height: 30px;
    text-align: center;
  }

.hero-lt a i:hover{
    color: #ffffff;
    background-color: #f88e8e;
    border-color: white;
    
}


.hero-rt img{
    border-radius: 6px;

}




/* hero section end */

/* demo section start */
.demo{
    width: 100%;
    padding: 60px 0px;

}

.section-title{
    text-align: center;
}

.section-title h2{
    font-size: 42px;
    font-weight: 600;
    color: #292640;
}

.section-title{
    font-size: 16px;
    color: #A2A4A5;
    font-weight: 300;
    margin: 0px 0px 32px;
    


}

.section-title p{  
    font-style: italic;
    
}

.demo-gallery{
    display: flex;
    justify-content: space-evenly;
}


.p-item{
    flex-basis: 25%;
    text-align: center;

    
}

.p-item img{
    margin:0px 0px 16px 0px;
    border-radius: 8px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

}

.p-item a{
    text-decoration: none;

}

.p-item p{
    font-weight: 600;
    color: black;
    
}


/* demo section end */

.line{
    margin: 60px auto;
    height: 100px;
    background-color: #bebebe;
    width: 4px;
    border-radius: 8px;
  }
}




/* features section start */

.features{
    width: 100%;
    padding: 80px 0px;
    margin: 0px 0px 32px;
}
.f-i-row{
    display: grid;
    grid-template-columns: auto auto auto;
}

.f-item{
    background-color: #f5f5f5;
    margin: 16px;
    padding: 40px 20px;
    text-align: center;
    border-radius: 8px;
}

.f-item i{
        background-color: white;
        height: 60px;
        width: 60px;
        line-height: 60px;
        border-radius: 100%;
        margin: 0px 0px 20px;
        font-size: 32px;
        color: #ff6162;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.f-item h4{
    font-size: 18px;
    color: #292640;
    margin: 16px 0px;

}

.f-item p{
    font-size: 15px;
    color: #a2a4a5;
}

.f-item:hover{
    background: #ff6162;
    transition: 0.5s;


}

.f-item:hover h4, .f-item:hover p{
    color:white;

}

/* features section end */

/* footer section start */
.footer{
    width: 100%;
    padding: 24px 0;
    background-color: #292640;
    height: 500px;
    width: 100%;
    padding: 80px 0px 0px;
    margin: 80px 0px 0px;
}

.footer-row{
    text-align: center;
    
}



.footer-title h1{
    font-size: 56px;
    line-height: 1.2;
    text-align: center;
    color: white;
 
}

.footer-btn a{
    text-decoration: none;
    color:white;
    
    
}

.footer-btn button{ 
    background-color: #ff6162;
    color: white;
    padding: 16px 28px;
    border: none;
    border-radius: 4px;
    transition: 0.4s;
    margin: 32px;
    font-weight: 700;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.footer-btn button:hover{

    background-color: #ff2323;
    cursor: pointer;
    transition: 0.5s;
    cursor: pointer;
    box-shadow: rgba(248, 248, 255, 0.25) 0px 13px 27px -5px, rgba(230, 225, 225, 0.3) 0px 8px 16px -8px;

}

.footer-logo{
    padding: 32px 0px
}


.icon-arrowup i{
    height: 50px;
    width: 50px;
    line-height: 50px;
    background-color: #ffffff;
    font-size: 26px;
    border-radius: 100%;

}

.icon-arrowup{
    margin: 0px 20px 30px 125%;
}

.icon-arrowup i:hover{
    background: #334eb3;
    color: white;
    transition: 0.5s;
}





/* footer section end */